* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(232, 232, 232);
  font-family: "Bitter", sans-serif;
  line-height: 1.6;
  position: relative;
}

header h1 {
  color: #e80303;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
